<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Trip planning assistant" />
    <meta name="author" content="TRIPPER" />

    <title>TRIPPWISE</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- End fonts -->

    <!-- core:css -->
    <link rel="stylesheet" href="../static/vendors/core/core.css" />
    <!-- endinject -->

    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->

    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="../static/fonts/feather-font/css/iconfont.css"
    />
    <link
      rel="stylesheet"
      href="../static/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/css/demo1/style.css" />
    <!-- End layout styles -->

    <link rel="shortcut icon" href="../static/images/favicon.png" />
  </head>
  <body>
    <div class="row p-4">
      <div class="col">
        <div class="modal-body grid-margin grid-margin-md-2">
          <div class="row">
            <div class="col-md-6 mb-6">
              <div
                id="carouselExampleControls"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="../static/images/others/placeholder.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="../static/images/others/placeholder.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="../static/images/others/placeholder.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                </div>
                <a
                  class="carousel-control-prev"
                  data-bs-target="#carouselExampleControls"
                  role="button"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a
                  class="carousel-control-next"
                  data-bs-target="#carouselExampleControls"
                  role="button"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>
            </div>
            <div class="col-md-6 mb-6">
              <div class="row mb-3">
                <div class="col-md-6">
                  <h5>Name:</h5>
                </div>
                <div class="col-md-6">Hotel Name</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <h5>Location:</h5>
                </div>
                <div class="col-md-6">Town/City</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <h5>Price/night:</h5>
                </div>
                <div class="col-md-6">Price in dollars</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <h5>Ratings:</h5>
                </div>
                <div class="col-md-6">Avg ratings</div>
              </div>
              <div class="row mb-3">
                <h5>Categorical Sentiments</h5>
                <div class="col-md-4">
                  <h5>Food:</h5>
                </div>
                <div class="col-md-4">
                  <h5>Scenery:</h5>
                </div>
                <div class="col-md-4">
                  <h5>Service:</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h5>Scenery</h5>
              <li>Free Parking</li>
            </div>
            <div class="col-md-4">
              <h5>Amenities</h5>
              <li>Free Parking</li>
            </div>
            <div class="col-md-4">
              <h5>Perks</h5>
              <li>Free Parking</li>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- core:js -->
    <script src="../static/vendors/core/core.js"></script>
    <!-- endinject -->

    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->

    <!-- inject:js -->
    <script src="../static/vendors/feather-icons/feather.min.js"></script>
    <script src="../static/js/template.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- endinject -->

    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>
